.content {
    position: absolute;
    left: 350px;
    top: 80px;
    width: calc(0.5 * (100% - 500px));
    min-width: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
}

.content h2 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.content input {
    border: 3px solid #ccc;
    border-radius: 20px;
    padding: 8px 12px;
    font-size: 13.5px;
    margin-bottom: 25px;
    margin-left: -12px;
    outline: none;
}

.content input:focus {
    border: 3px solid #000000;
}

.content ul {
    list-style: none;
    cursor: pointer;
    padding: 0;
    margin-top: 0px;
}

.content li {
    margin-bottom: 5px;
    border-radius: 15px;
    padding-left: 10px;
    margin-left: -10px;
    width: 154px;
    transition: background-color 0.1s, color 0.1s;
}

.content li:hover {
    background-color: hsla(0, 1%, 60%, 0.608);
    border-radius: 15px;
    width: 154px;
}