#menu {
    height: 80%;
    position: fixed;
    left: 2px;
    top: 20%;
    width: 150px;
    margin: 0 0 0 0;
	padding: 10px 0px 10px 35px;
    font-weight: bold;
    font-size: large;
    text-align: left;
	text-indent: 10px;
	color: white;
	/* Générateur de code couleur -- http://www.workwithcolor.com/hsl-color-picker-01.htm */
    background: hsla(193, 74%, 55%, 0.3);
  }


#frqmax {
    display: flex;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color:orange;
    border:transparent;
    background-color: transparent;
    border-radius: 5px;
    margin-top: 30px;

}

#pui {
    display: flex;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color:orange;
    border:transparent;
    background-color: transparent;
    border-radius: 5px;
    margin-top: 30px;

}


#amp {
    display: flex;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color:orange;
    border:transparent;
    background-color: transparent;
    border-radius: 5px;
    margin-top: 30px;
    
}


#devices {
    display: flex;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color:orange;
    border:transparent;
    background-color: transparent;
    border-radius: 5px;
    margin-top: 30px;


}
#anomalies {
    display: flex;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color:orange;
    border:transparent;
    background-color: transparent;
    border-radius: 5px;
    margin-top: 200px;
}



 



