#menu {
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0%;
    width: 150px;
    margin: 0 0 0 0;
	  padding: 0px 10px 30px 0px;
    font-weight: bold;
    font-size: large;
    text-align: left;
	  text-indent: 0px;
	  color: rgb(255, 255, 255);
    border-radius: 0px 0px 10px 10px;
	/* Générateur de code couleur -- http://www.workwithcolor.com/hsl-color-picker-01.htm */
    background: hsla(0, 1%, 60%, 0.208)
  }


#frqmax {
    width: 160px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color:rgb(8, 5, 0);
    border:transparent;
    background-color: transparent;
    border-radius: 30px;
    margin-top: 20%;

}

#pui {
    width: 160px;
    height: 30px;
    padding: 0px 0px 0px 0px; 
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color:rgb(0, 0, 0);
    border:transparent;
    background-color: transparent;
    border-radius: 30px;
    margin-top: 20%;

}


#amp {
    width: 160px;
    height: 30px;
    display: center;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color:rgb(0, 0, 0);
    border:transparent;
    background-color: transparent;
    border-radius: 30px;
    margin-top: 20%;
    
}

#devices {
    width: 160px;
    height: 30px;
    display: center;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color:rgb(0, 0, 0);
    border:transparent;
    background-color: transparent;
    border-radius: 30px;
    margin-top: 20%;


}

#anomalies {
    width: 160px;
    height: 30px;
    display: center;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color:rgb(0, 0, 0);
    border:transparent;
    background-color: transparent;
    border-radius: 30px;
    margin-top: 100%;
}

#para {
    width: 160px;
    height: 30px;
    display: center;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color:rgb(0, 0, 0);
    border:transparent;
    background-color: transparent;
    border-radius: 30px;
    margin-top: 60%;
}

#axex{
    height: 80%;
    position: fixed;
    left: 1000px;
    top: 10%;
    width: 500px;
    margin: 0 0 0 0;
	padding: 10px 0px 10px 35px;
    font-weight: bold;
    font-size: large;
    text-align: left;
	text-indent: 10px;
}

#axey{
    height: 80%;
    position: fixed;
    left: 250px;
    top: 10%;
    width: 500px;
    margin: 0 0 0 0;
	  padding: 10px 0px 10px 35px;
    font-weight: bold;
    font-size: large;
    text-align: left;
	 text-indent: 10px;
}

#axez{
    height: 80%;
    position: fixed;
    left: 250px;
    top: 50%;
    width: 500px;
    margin: 0 0 0 0;
	 padding: 10px 0px 10px 35px;
    font-weight: bold;
    font-size: large;
    text-align: left;
	 text-indent: 10px;
}

#tabdevice{
    height: 100px;
    position: fixed;
    left: 1100px;
    top: 50%;
    width: 300px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#titleline{
    font-weight:bold;
}

#frqmax {
    background-color: transparent;
    color: initial;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
  
#frqmax:hover {
    background-color: hsla(0, 1%, 60%, 0.608);
    color: black;
}

#pui {
    background-color: transparent;
    color: initial;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
  
#pui:hover {
    background-color: hsla(0, 1%, 60%, 0.608);
    color: black;
}

#amp {
    background-color: transparent;
    color: initial;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
  
#amp:hover {
    background-color: hsla(0, 1%, 60%, 0.608);
    color: black;
}

#anomalies {
    background-color: transparent;
    color: initial;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
  
#anomalies:hover {
    background-color: hsla(0, 1%, 60%, 0.608);
    color: black;
}

#devices {
    background-color: transparent;
    color: initial;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
  
#devices:hover {
    background-color: hsla(0, 1%, 60%, 0.608);
    color: black;
}

#para {
    background-color: transparent;
    color: initial;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
  
#para:hover {
    background-color: hsla(0, 1%, 60%, 0.608);
    color: black;
}